{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isha Jain</title>
    <link href = "{% static '/css/main.css' %} rel = "stylesheet" type = "type/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" h-100  border-info id="profile-wrapper" >
                    <img id="profile-pic"  src = "{% static 'images/profile.jpeg' %} " />
                    <hr>
                    <h4>Hi I'm Isha!</h4>
                    <p>I love coding, doing research and collaborating</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h3>Career Objectives</h3>
                    <hr>
                    <p>To secure a challenging position in a reputed organization to expand my learning, knowledge, and skills. Secure a responsible career opportunity to fully utilize my 
                        training and skills, while making a significant contribution to the success of the
                        company.
                        
                    </p>
                    <h4>Strengths:</h4>
                        	Positive Attitude.<br>
                        	Responsiveness.<br>
                        	Hardworking Until Solution.<br>
                        	Disciplined Approach.<br>
                        	Good Command in Written and Oral English.<br>
                        	Creative Writing skills.<br>
                        
                    </p>
                    <p>From this you'll see that i'm someone that jumps before i can talk myself out of doing somehing scary</p>
                
                    <ul class="social-links">
                        <li><img class="social" src ="{% static 'images/github.png' %}"/> </li>
                        <li><img class="social" src ="{% static 'images/linkedin.png' %}"/> </li>
                        <li><img class="social" src ="{% static 'images/twitter.jpg' %}"/> </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body" h-100>
                    <h3>Projects🧐</h3>
                    <hr>
                    <p><h5>Address book</h5>
                        The Address Book is a centralized database containing contacts and their personal information Using HTML, Inline CSS and JavaScript.
                        
                        <h5>IOT-Project</h5>
                        Automated Irrigation System Using Moisture Sensor.
                        
                        <h5>A basic ML Model</h5>
                        Image processing Model.
                        </p>
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body" h-100>
                    <h3>What I know? 🤔</h3>
                    <hr>
                    <p>Python, Django, HTML/CSS , C, C++, Microsoft Office, and a whole bunch more I cant possibly mention in one sentence!</p>
                    <p>PS: Working on Data Structures & Algorithms and exploring Machine Learning</p>
                    <h3>Volunteer Experience🤩</h3><hr>
                    <p><h5>Google Developer Student Clubs SSTC</h5>  [Administrative Lead]
                        August22–Present
                        Currently working as a core team member of the club, contributing through managing events, public speaking, and organizing sessions. 
                        
                        <h5>Holiday Hacks Hackathon SSTC</h5>  [Management]
                        February’22–May’22
                        Worked in a core team of the hackathon as an outreach as well as PR team, managed events, organizing sessions as a co-host, reaching out to sponsors, as well as public speaking. 
                        </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body" h-100>
                    <h3>How I learn🤔</h3>
                    <hr>
                    <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where i need to figure out why things work the way they do. 
                        Documentations is just a reference.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body" h-100>
                    <h3>Hobbies & Interests🤩</h3>
                    <hr>
                    <p>
                        I like Singing, Swimming, Dancing, Playing Badminton in leisures. 
                    </p>
                    <h6>Contact😬</h6><hr>
                    <h6>Email:</h6><p> abc@gmail.com</p> <br>
                    <h6>Mob. NO.:</h6><p> **********</p> <br>
                    
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</body>
</html>